html{
    height: 100%;
}

#chat-area{
    overflow-y: auto;
    overflow-x: hidden;
    height: 300px;
}

#users-list{
    overflow-y: hidden;
    overflow-x: auto;
}

#loading-module{
    max-width: 300px;
    max-height: 300px;
    width: 20vw;
    height: 20vw;
}

.users-square{
    max-width: 78px;
}

.img-private-chat{
    max-width: 55px;
}

.user-status-connected div{
    height: 25px;
}