<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat with websockets</title>
    <link rel="stylesheet" type="text/css" href="/css/style-chat.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="container-fluid h-100 bg-secondary">
    
    <div class="p-2 bg-success p-1 text-center row position-absolute text-light font-weight-normal" id="username-container">
    </div>

    <section class="row h-100 align-items-center justify-content-center" id="section-container">
        <div class="container align-items-center justify-content-center">
            <div class="row-fluid d-flex flex-row flex-nowrap bg-primary m-0" id="users-list">
            </div>
            <div id="chat-container" class="row-fluid bg-light p-3">
                
                
                <div class="col-sm-12 lead" id="chat-area" >
                </div>
                <div class="container">
                    <div class="row pl-2 pr-2">
                        <input class="rounded-0 col-sm-9 form-control" id="text-message" type="text" placeholder="Write a message here"/>
                        <button class="rounded-0 col-sm-2 btn btn-primary" id="send-message-button"><i class="fas fa-paper-plane"></i></button>
                        <a class="rounded-0 col-sm-1 btn btn-danger align-self-end" id="disconnect-button" href="/logout"><i class="fas fa-sign-out-alt"></i></a>
                    </div>
                </div>
                
            </div>
            
        </div>
    </section>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/Chat.js"></script>
</body>
</html>