<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat with websockets</title>
    <link rel="stylesheet" type="text/css" href="/css/style-chat.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="container h-100 bg-secondary">

    <div class="row h-100 align-items-center justify-content-center">
        <div class="col-sm-6 bg-light p-3">
            <div class="row justify-content-center">
                <h1 class="text-center display-4">Login</h1>
            </div>
                <form class="row justify-content-center" action="/" enctype="multipart/form-data" method="post" id="image-form">
                    <input class="rounded-0 col-sm-6 m-1 form-control" name="username" id="username-input" type="text" placeholder="Username"/>
                    <input type="file" class="d-none form-control-file" name="uploadFile" id="image-dialog">
                    <button class="rounded-0 col-sm-6 btn btn-primary m-1" id="send-username-button">Connect</button>
                </form>

            <div class="row mt-3">
                <div class="col-12 d-flex flex-column justify-content-center align-items-center">
                    <p class="lead mb-1">Select a picture</p>
                    <img class=" border" src="https://www.pngitem.com/pimgs/m/52-526033_unknown-person-icon-png-transparent-png.png" width="50" height="50" id="open-file-dialog" />
                </div>
            </div>
        </div>
    </div>

     <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/Login.js"></script>
</body>
</html>